body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 300px;
}
.main-header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 22, 28);

}
.main-header h3 {
    color: rgb(240, 185, 11);
    margin: 8px;
}
.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 20px;
}
#errorText {
    color: red;
    font-size: 12px;
}

.main-rows {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}
#update-value-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #001933 ;
    width: 25px;
    height: 25px;
}
#update-value-button:hover {
    cursor: pointer;
}
.main-rows h3 {
    color: #333;
    font-size: 14px;
    margin: 10px !important;
}
.input-box {
    width: 100px;
    height: 25px;
}
.buttonsContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.addbuttonsContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}
#buttonMinus05 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    color: #fff;
    background-color: red ;
    border-radius: 2px;
    margin-right: 5px;
    transition: 200ms;
}
#buttonMinus05:hover {
    cursor: pointer;
}
#buttonMinus05:active {
    cursor: pointer;
    transform: translateY(1px);

}
#button05 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    color: #fff;
    background-color: #1A472A ;
    border-radius: 2px;
    transition: 200ms;
}
#button05:hover {
    cursor: pointer;
}
#button05:active {
    cursor: pointer;
    transform: translateY(1px);

}
#add-values-in-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 150px;
    height: 30px;
    background-color: #1A472A;
    color: #fff;
    transition: 200ms;
    border-radius: 2px;
}
#add-values-in-fields:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-1px);
} 